@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  height: 95%;
  margin: 0;
  user-select: none;
}

.container {
  height: 95%;
  display: flex;
  flex-wrap: wrap;
}

.score__right, .score__left {
  font-weight: bold;
  height: 100%; 
  color: white;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score__right {
  width: 50%;
  background-color: #1E1E1E;
}

.score__left {
  width: 50%;
  background-color: #222325;
}

.sum__right, .sum__left {
  cursor: pointer;
}

.user {
  display: flex;
  width: 100%;
  height: -5%;
}

.first__user, .second__user {
  flex: 1;
  height: 50%;
}

.first__user {
  background-color: #222325;
}
.second__user {
  background-color: #535456;
  text-align: right;
}

.right__user, .left__user {
  width: 24px;
  height: 32px;
  background-color: #FFD600;
  text-align: center;
}

.first__user .user1 {
  display: flex;
  align-items: center;
}

.second__user .user2 {
  display: flex;
  align-items: right;
}

.user1 p, .user2 p {
  color: white;
  margin-left: 10px;
}

.user2 {
  direction: rtl;
}

.user2 p {
  margin-right: 10px;
  margin-left: 0;
}

.right__user p, .left__user p {
  text-align: right;
  color :black;
}

.user1 .left__user p, .user1 .right__user p {
  text-align: left;
}
